.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto 40px;
  width: calc(100% - 40px);
  max-width: 750px;
  min-width: 280px;
}
/* Header Title */
.title{
  text-align: center;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 1.5rem;
  height: 39px;
  line-height: 38.87px;
  color: #252525;
}
.dark .title {
  color: white;
}
/* Form Container*/
.formContainer{
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  display: flex;
}
/* Search */
.search{
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: #6C63FF solid 1px;
  padding-right: 40px;
  outline: #6C63FF;
  font-family: 'Inter';
}
.search ::placeholder {
  align-content: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #C3C1E5;
}
.dark .search {
  border: 1px solid white;
  background: #333333;
}
.dark .search::placeholder {
  color: #666666;
  font-family: 'Inter';
}
.magnifyingGlass {
  align-self: center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 15;
}
.searchContainer{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.dark .searchContainer input {
  color: #DDDDDD;
}
/* Button All */
button[data-filter='Incomplete'] {
  font-size: 14px;
}
.buttonAllContainer{
  position: relative;
}
.buttonAllContainer .arrowDown.fixed {
  transform: rotate(180deg);
  transition: 0.4s;
}
.all{
  display: flex;
  color: white;
  max-width: 110px;
  width: 100%;
  min-width: 105px;
  border: #6C63FF solid 1px;
  height: 40px;
  align-items: center;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background-color: #6C63FF;
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 3000;
}
.all:hover{
  background: #534CC2;
}
@media (max-width: 320px) {
  .all {
    width: 105px;
  }
}
.arrowDown {
  position: absolute;
  right: 10px;
  bottom: 16px;
}
/* Button Dark mode */
.darkMode{
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6C63FF solid 1px;
  width: 38px;
  color: white;
  background: url('/App/img/Vector.png') no-repeat center center, #6C63FF;
  border-radius: 5px;
  cursor: pointer;
}
.darkMode:hover{
  background: #534CC2;
}
.dark {
  background: #333;
  padding: 0px;
  color: white;
}
/* Filter Button*/
.filterButton{
  display: grid;
  position: relative;
  width: 100%;
  height: 84px;
  border-radius: 5px;
  border: 1px solid #6C63FF;
  justify-self: end;
  z-index: 10;
  overflow: hidden;
}
.filter {
  background: white;
  cursor: pointer;
  border: none;
  color: #6C63FF;
  z-index: 30;
}

.filter:hover {
  background: #6C63FF;
  color: white;
}
