body {
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: calc(100% - 40px);
  max-width: 500px;
  min-width: 280px;
  margin: 0 auto;
}
.containerPrincipal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
/* Container Header*/
.container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto 40px;
  width: calc(100% - 40px);
  max-width: 750px;
  min-width: 280px;
}
/* Titulo Header*/
.titulo{
  text-align: center;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 1.5rem;
  height: 39px;
  line-height: 38.87px;
  color: #252525;
}
.dark .titulo {
  color: white;
}
/* Container Form*/
.containerForm{
  justify-content: center;
  gap: 8px;
  width: 100%;
  display: flex;
  height: 38px;
}
/* Pesquisa */
.search{
  display: flex;
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: #6C63FF solid 1px;
  padding: 8px, 16px, 8px, 16px;
  outline: #6C63FF;
  font-family: 'Kanit';
}
.search input::placeholder {
  align-content: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #C3C1E5;
  width: 106px;
  height: 16px;
  overflow: hidden;
}
.dark .search {
  border: 1px solid white;
  background: #333333;
}
.dark .search::placeholder {
  color: #666666;
  font-family: 'Inter';
}
.lupa {
  align-self: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.searchContainer{
  display: flex;
  width: 100%;
  position: relative;
}
.dark .searchContainer input {
  color: #DDDDDD;
}
/* Botao ALL */
button[data-filter='Incomplete'] {
  width: 103px;
  max-width: 130px;
  min-width: 70px;
  font-size: 14px;
}
button[data-filter='Done'] {
  width: 90px;
}
.containerButtonAll{
  position: relative;
}
.containerButtonAll .arrowDown.fixed {
  transform: rotate(180deg);
  transition: 0.4s;
}
.all{
  display: flex;
  color: white;
  max-width: 85px;
  width: 100%;
  min-width: 60px;
  border: #6C63FF solid 1px;
  padding: 10px;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background-color: #6C63FF;
  border-radius: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 3000;
}
.all:hover{
  background: #534CC2;
}
.arrowDown {
  position: absolute;
  right: 10px;
  bottom: 15px;
}
/* Botao noturno */
.noturno{
  border: #6C63FF solid 1px;
  width: 38px;
  color: white;
  background: url('/App/img/Vector.png') no-repeat center center, #6C63FF;
  border-radius: 5px;
  cursor: pointer;
}
.noturno:hover{
  background: #534CC2;
}
.lua, .sol {
  display: block;
}
.dark {
  background: #333;
  color: white;
}
/* Container Body */
.detective {
  display: flex;
  align-self: center;
  margin-bottom: 60px;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Kanit';
  line-height: 20px;
}
.containerList{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.containerList span {
  margin-left: 10px;
  font-size: 18px;
  line-height: 15px;
}
.checked {
  display: flex;
  align-items: center;
}
.checked input {
  color: #333333;
  font-family: 'Kanit';
  outline: none;
}
.list {
justify-items: center;
align-self: center;
list-style: none;
width: 100%;
}
.list span {
  justify-items: center;
}
.list:not(:last-child) {
  border-bottom: #6C63FFA1 solid 1px;
  border-radius: 2px;
}
.checkbox {
  width: 23px;
  height: 23px;
  accent-color: #6c63ff;
}
.checkbox:checked ~.task {
  text-decoration: line-through;
  color: gray;
}
.inputEdit{
  width: 100%;
  border: #6C63FF solid 1px;
  border-radius: 3px;
}
.inputEdit::placeholder {
  font-family: 'Inter';
  font-size: 13px;
  color: #C3C1E5;
}
/* Botões da lista*/
.btnDelete {
  border: none;
  background: none;
}
.delete{
  cursor: pointer;
}
.delete:hover path {
  stroke: red
}
.btnEdit {
  background: none;
  border: none;
}
.edit {
  cursor: pointer;
}
.edit:hover path {
  stroke: #6C63FF;
}
/* Botao do Form */
.addButtom{
  position: fixed;
  bottom: 24px;
  right: 20px;
  border: #6C63FF solid 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #6C63FF;
  align-self: end;
}
.addButtom:hover{
  background:#534CC2;
}
.plus {
  position: absolute;
  top: 12px;
  left: 12px;
}
/* Container modal Fora*/
.containerModalFora {
  z-index: 10;
  position: fixed;
  inset: 0;
  background: #00000070;
  backdrop-filter: blur(4px);
}
/* Container Modal Dentro*/
.containerModalDentro{
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  background: white;
  width: 100%;
  max-width: 500px;
  max-height: 289px;
  border-radius: 16px;
  border: #252525 solid 1px;
}
@media (max-width: 320px) {
  .containerModalDentro {
  z-index: 20;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  background: white;
  width: 100%;
  max-height: 289px;
  border-radius: 16px;
  border: #252525 solid 1px;
 }
}
.dark .containerModalDentro {
  background: #252525;
  border: 1px solid white;
}
.dark .containerModalDentro input {
  color: #DDDDDD;
  font-family: 'Kanit';
}
/* Titulo do Modal*/
.modalTitulo{
  margin-bottom: 0;
  text-align: center;
  width: 116px;
  height: 24px;
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #252525;
  margin-bottom: 30px;
}
.dark .modalTitulo {
  color: white;
}
/* Input do Modal*/
.inputModal{
  width: 100%;
  height: 38px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 5px;
  border: #6C63FF solid 1px;
  gap: 436px;
  outline: #6C63FF;
}
.dark .inputModal{
  background: #252525;
  border: 1px solid white;
}
.inputModal::placeholder{
  width: 130px;
  height: 20px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height:16px;
  color: #C3C1E5;
}
.dark .inputModal::placeholder {
  color: #666666;
}
/* Botão do Modal */
.divBotaoModal{
  display: flex;
  padding: 20px;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.cancel{
  font-family: 'Kanit';
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  width: 110px;
  height: 38px;
  border-radius: 5px;
  border: #6C63FF solid 1px;
  background-color: white;
  color: #6C63FF;
  padding: 10px, 22px, 10px, 22px;
  margin-top: 100px;
}
.dark .cancel {
  background: #252525;
}
.cancel:hover{
  background-color: #c6c6c6;
}
.dark .cancel:hover {
  background: #6C63FF;
  color: white;
}
.apply{
  font-family: 'Kanit';
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  width: 97px;
  height: 38px;
  border-radius: 5px;
  border: #6C63FF solid 1px;
  background-color: #6C63FF;
  color: white;
  padding: 10px, 22px, 10px, 22px;
  margin-top: 100px;
}
.apply:hover{
  background-color: #534CC2;
}

/* Filter Button*/
.filterButton{
  display: grid;
  position: relative;
  width: 100%;
  max-width: 80px;
  height: 84px;
  border-radius: 5px;
  border: 1px solid #6C63FF;
  justify-self: end;
  z-index: 10;
  overflow: hidden;
}
.filter {
  background: white;
  cursor: pointer;
  border: none;
  color: #6C63FF;
  z-index: 30;
}

.filter:hover {
  background: #6C63FF;
  color: white;
}
