@import '../src/Header.module.css';
@import '../src/Body.module.css';
@import '../src/Modal.module.css';

html, body {
  padding: 0px;
  margin: 0;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: calc(100% - 40px);
  max-width: 500px;
  min-width: 280px;
  margin: 0 auto;
}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  flex-grow: 1;
}
